{% extends 'base.html' %}

{% block container%}
  <div class="row">
    <div class="input-field col s12">
        <h5 class="center">Escolha um nível</h5>
        <div class="input-field center col s12">
            <button class="btn waves-effect waves-light">Iniciante</button>
        </div>
        <div class="input-field center col s12">
            <button class="btn waves-effect waves-light">Intermediário</button>
        </div>
        <div class="input-field center col s12">
            <button class="btn waves-effect waves-light disabled">Avançado</button>
        </div>
    </div>
  </div>
{% endblock container%}
