{% extends 'base.html' %}

{% block container%}
  <div class="row">
    <div class="input-field col s12">
        <h5 class="center">I am drinking water</h5>
        <div class="input-field col s12">
            <input id="answer" type="text" class="validate">
            <label for="answer">Resposta</label>
        </div>
        <div class="input-field center col s12">
            <div class="col s6">
              <button class="btn waves-effect waves-light">Pular
                <i class="material-icons right">cached</i>
              </button>
            </div>
            <div class="col s6">
              <button class="btn waves-effect waves-light" type="submit" name="action">Enviar
                <i class="material-icons right">send</i>
              </button>
            </div>
        </div>
      <br><br>
        <div class="input-field center col s12">
            <button class="btn waves-effect waves-light">Mudar nível</button>
      </div>
    </div>
  </div>
{% endblock container%}
